/*Grid-Layout Bereiche*/

body {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 5em 1fr 235px;
    grid-template-areas: "navi header " "navi main" "footer footer";
    background-image: linear-gradient(to top, #f6f6f6 97%, white);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: header;
}

navi {
    grid-area: navi;
}

main {
    grid-area: main;
    font-size: 0.875em;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    background-color: white;
    padding: 25px 16px 16px 25px;
}

footer {
    grid-area: footer;
}


/*Textformatierung (Headlines, Textstil (kursiv, bold), Hochzahlen)*/

hr {
    background-color: #a2a9b1;
    border: none;
    color: #a2a9b1;
    height: 1px;
}

h1 {
    margin-bottom: 0.25em;
    font-size: 2em;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    font-weight: normal;
    padding: 0px;
    margin-top: 0px;
}

h2 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0.25em;
    padding: 0;
    line-height: 1.3;
    display: inline;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: inline;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-top: 0.5em;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-top: 0.3em;
    margin-bottom: 0;
    display: inline;
}

p {
    margin: 0.7em 0 0.7em 0;
    line-height: 1.6;
}

p.edit {
    margin-left: 1em;
    color: #0645ad;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    display: inline;
}

.bold {
    font-weight: bold;
    display: inline;
}

.kursiv {
    font-style: italic;
}

.textfarbe_link {
    color: #0645ad;
}

.zitat_eingerueckt {
    margin: 14px 40px 14px 40px;
}

.zitiert_von {
    font-variant: small-caps;
}

sup {
    font-weight: normal;
    color: #0645ad;
}


/*Facts Starbucks rechts oben*/

#facts {
    float: right;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    max-width: 25em;
    padding: 5px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 12.6px;
    line-height: 1.6;
}

#facts th {
    background-color: #eaecf0;
    text-align: center;
}

.logoCenter {
    padding: 1em;
    text-align: center;
}

.logoCenter img {
    width: 123px;
    height: 125px;
}

#facts .factsLeft {
    font-weight: bold;
    color: #0645ad;
    padding-right: 0.8em;
    vertical-align: top;
}

#facts .factsRight {
    text-align: left;
    vertical-align: top;
}

#facts ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}

#facts a {
    text-decoration: none;
    color: #0645ad;
}

#facts a:hover {
    text-decoration: underline;
}

#facts a:visited {
    color: #0b0080;
}


/*Inhaltsverzeichnis*/

#inhaltsverzeichnis {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    width: 323px;
    line-height: 23px;
    padding: 7px;
    margin: 0 0 30px 0;
    font-size: 94%;
}

#inhaltsverzeichnis a {
    text-decoration: none;
    color: #0645ad;
}

#inhaltsverzeichnis a:hover {
    text-decoration: underline;
}

#inhaltsverzeichnis a:visited {
    color: #0b0080;
}

#inhaltTitel {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    line-height: 5%;
}

#inhaltsverzeichnis .verbergen {
    display: inline;
    font-weight: normal;
    font-size: 94%;
}

#inhaltsverzeichnis ol {
    text-align: left;
}

#inhaltsverzeichnis ol.ebene1 {
    counter-reset: listenpunkt_ebene1;
    list-style-type: none;
    list-style: none;
    margin: 0 0 0.1em 0;
    padding: 0;
    display: list-item;
}

#inhaltsverzeichnis ol.ebene1 li:before {
    content: counter(listenpunkt_ebene1) " ";
    counter-increment: listenpunkt_ebene1;
}

#inhaltsverzeichnis ol.ebene2 {
    counter-reset: listenpunkt_ebene2;
    list-style-type: none;
    padding: 0 0 0 2em;
}

#inhaltsverzeichnis ol.ebene2 li:before {
    content: counter(listenpunkt_ebene1)"."counter(listenpunkt_ebene2, decimal) " ";
    counter-increment: listenpunkt_ebene2;
}

#inhaltsverzeichnis ol.ebene3 {
    counter-reset: listenpunkt_ebene3;
    list-style-type: none;
    padding: 0 0 0 2em;
}

#inhaltsverzeichnis ol.ebene3 li:before {
    content: counter(listenpunkt_ebene1)"."counter(listenpunkt_ebene2) "."counter(listenpunkt_ebene3, decimal) " ";
    counter-increment: listenpunkt_ebene3;
}

.auflistung ul {
    margin: 0.3em 0 0.7em 1.6em;
    line-height: 1.6;
    padding: 0;
}


/*Tabelle Geschäfts- und Mitarbeiterentwicklung*/

.tabelle_grau {
    width: 324px;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    text-align: right;
    border-collapse: collapse;
    line-height: 1.6;
    margin: 1em 1em 2em 0;
}

.tabelle_grau caption {
    font-weight: bold;
}

.tabelle_grau th {
    background-color: #eaecf0;
    text-align: center;
    border: 1px solid #a2a9b1;
}

.tabelle_grau td {
    padding: 0.2em 0.4em;
    border: 1px solid #a2a9b1;
}


/*Bilder mit Bildunterschrift*/

.bild {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    padding: 3px;
    margin: 0.5em 0 1.3em 1.4em;
    width: auto;
    clear: right;
    float: right;
}

.bild img {
    border: 1px solid #c8ccd1;
}

.bild_unterschrift {
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
}

#bild_seattle {
    width: 172px;
}

#bild_seattle img {
    width: 170px;
    height: 227px;
}

#bild_ersterStarbucks {
    width: 222px;
}

#bild_ersterStarbucks img {
    width: 220px;
    height: 147px;
}


/*Bilderreihe Filialen und Logos*/

.titel_bilderreihe {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.1em;
    line-height: 1.6;
    font-size: 100%;
}

.bilderreihe {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em;
}

figure {
    display: table-cell;
    padding: 0 4px;
    text-align: center;
    vertical-align: top;
}

.einzelbild img {
    height: 160px;
    padding-bottom: 0.5em;
}

.logo img {
    height: 140px;
    padding-bottom: 0.5em;
}

figurecaption {
    font-size: 94%;
}


/*Externe Links*/

a {
    color: #36b;
    text-decoration: none;
}

a:visited {
    color: #0b0080;
}

a:hover {
    text-decoration: underline;
}


/*Einzelnachweise*/

.ol_einzelnachweise {
    line-height: 1.6;
}


/*Normdaten*/

#normdaten {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 8px 5px;
    margin-top: 1.5em;
}


/*Navi links*/

#wikilogo {
    text-align: center;
}

#wikilogo img {
    width: 135px;
    padding-bottom: 1.5em;
}

.navipanel {
    margin: 0 0.6em 0 1em;
    padding: 0.25em 0;
}

.navipanel ul {
    padding: 0;
    margin-top: 0;
}

.navipanel li {
    line-height: 1.125em;
    padding: 0.25em 0;
    font-size: 0.75em;
    list-style: none;
    color: #0645ad;
}

.headings_navi {
    font-size: 0.75em;
    color: #444444;
    font-weight: normal;
    padding: 0.25em 0;
}

.headings_navi img {
    width: 12px;
    vertical-align: center;
}

.verlaufslinie {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, white 0.5%, #a2a9b1 85%, white);
    margin: 2px;
}

.sprachauswahl_button {
    margin: 4px 0;
    vertical-align: center;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
}

.sprachauswahl_button p {
    display: inline;
    vertical-align: center;
}

.sprachauswahl_button img {
    vertical-align: top;
    padding: 1px 2px 0 0;
    width: 18px;
}

#links_bearbeiten {
    color: #72777d;
    padding-left: 30px;
}

#links_bearbeiten img {
    filter: grayscale(1) brightness(2);
    padding-right: 2px;
    width: 10px;
}


/*Header oben*/

#header_bereich {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.anmelde_block {
    position: absolute;
    right: 1.5em;
    top: 0.7em;
    font-size: 0.75em;
    line-height: 1.16em;
    color: #54595d;
}

.anmelde_block p {
    display: inline;
    margin-left: 0.5em;
}

.anmelde_block img {
    width: 13px;
    vertical-align: center;
}

.tabs_links {
    position: absolute;
    left: 168px;
    margin-top: 3.78em;
    height: 2.6em;
    cursor: pointer;
}

.tabs_rechts {
    margin-right: 16px;
    float: right;
    left: 168px;
    margin-top: 3.78em;
    margin-left: 25em;
    height: 2.6em;
    cursor: pointer;
}

.tab_ausgewaehlt {
    float: left;
    padding: 0.5em 0.615em;
    font-size: 0.8125em;
    border-width: 1.5px;
    border-style: solid;
    border-bottom: 3px #a7d7f9;
    border-image: linear-gradient(to bottom, white, #a7d7f9) 5 100%;
    border-top: none;
    background: white;
    background-position: bottom left;
}

.tab_inhalt {
    float: left;
    padding: 0.5em 0.615em;
    font-size: 0.8125em;
    color: #0645ad;
    border-width: 1.5px;
    border-style: solid;
    border-left: none;
    border-image: linear-gradient(to bottom, white, #a7d7f9) 5 100%;
    border-bottom: 1px white;
    border-top: 1px white;
    background-image: linear-gradient(to bottom, white 15%, rgba(167, 215, 249, 0.50) 100%);
    background-position: bottom left;
    opacity: 60%;
}

.tab_inhalt:active {
    background: white;
    border-image: linear-gradient(to bottom, white, #a7d7f9) 5 100%;
    border-bottom: 3px #a7d7f9;
}

.wikisuche {
    float: left;
    margin-left: 5px;
    padding-bottom: 2px;
}

.wikisuche img {
    float: right;
    width: 12px;
    margin-left: -25px;
    padding-right: 6px;
    margin-top: 6px;
}

.suchfeld {
    width: 207px;
    padding: 3px 25px 3px 5px;
    z-index: -5;
    background: none;
    border: 1px solid #a2a9b1
}


/*Footer*/

.footer_info {
    padding: 0.75em;
    line-height: 1.4em;
    font-size: 0.7em;
    margin-left: 15em;
}

.footer_info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer_info li {
    margin-right: 1em;
    line-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    float: left;
}

.footer_icons {
    float: right;
    line-height: 2em;
}

.footer_icons img {
    width: 88px;
}